<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT</title>
</head>
<body>
    <main>
        <div class="box-login">
            <form action="/login" method="POST">
                <div class="login-email">
                    <i class="fas fa-solid fas fa-envelope"></i>
                    <input class="box-email" type="text" name="email" placeholder="tuemail@ejemplo.com" autofocus id="email" value="">
                </div>
                <div class="login-password">
                    <i class="fas fa-solid fas fa-lock"></i>
                    <input class="box-password" type="password" name="password" value="" id="password" placeholder="Contraseña">
                </div>
                <section class="password-section">
                    <div class="show-password"><br>
                        <input type="checkbox" name="show-password" onclick="myFunction()">
                        <label>Mostrar contraseña</label>
                                <script>
                                    function myFunction() {
                                        var x = document.getElementById("password");
                                        if (x.type === "password") {
                                            x.type = "text";
                                        } else {
                                            x.type = "password";
                                        }
                                    }
                                </script>
                    </div>
                </section>
                <button class="login-button" type="submit">Ingresar</button>
            </form>
        </div>
        <div class="not-register">
            <a href="/register">¿No estás registrado?</a>
        </div>
    </main>
</body>
</html>